<launch>

  <env name="LIBGL_ALWAYS_SOFTWARE" value="true" /> <!-- disable the gpu otherwise rviz does not display meshes https://github.com/microsoft/wslg/issues/554 -->

  <arg name="model" default="$(find ros_muav)/urdf/opt1.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find ros_muav)/launch/white.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node name="static_transform_world_root_link" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 world root_link 100" />

</launch>
